.navbar-nav .nav-link {
    color: rgb(255, 177, 125);
    font-weight: bold;
}

.navbar-nav .nav-link.active {
    text-decoration: underline;   
}

.logo {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}